/* 
-------------------
Jacket card styling 
-------------------
*/

.jacket-card {
  width: 600px;
  height: 525px;
  border: solid black 1px;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.jacket-card img {
  width: 600px;
  height: 525px;
}

.name {
  position: absolute;
  left: 10%;
  right: 50%;
  top: 41%;
  font-size: 22px;
}

.role {
  position: absolute;
  font-size: 14px;
  left: 10%;
  right: 50%;
  top: 46.5%;
}

.award1 {
  position: absolute;
  left: 20%;
  right: 60%;
  top: 55%;
  bottom: 35%;
}

.award2 {
  position: absolute;
  left: 20%;
  right: 60%;
  top: 62.5%;
  bottom: 25%;
}

.award3 {
  position: absolute;
  left: 20%;
  right: 60%;
  top: 70%;
  bottom: 15%;
}

.award4 {
  position: absolute;
  left: 20%;
  right: 60%;
  top: 77.5%;
  bottom: 7.5%;
}

.award5 {
  position: absolute;
  left: 20%;
  right: 60%;
  top: 85%;
  bottom: 0%;
}

.starBanner {
  position: absolute;
  left: 61%;
  top: 50%;
  bottom: 45%;
}

.starBanner img {
  width: 20px;
  height: 20px;
}

/* 
-------------------
Nav Bar Styling
-------------------
*/

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333333;
  height: 30px;
}

.navLink {
  color: white;
  text-decoration: none;
  border-right: #666666 solid 1px;
  padding: 6px 20px;
}

.navLink:hover {
  background-color: #999999;
  color: black;
}

/*
-----------------------
New Jacket Page Styling
-----------------------
*/

.new-jacket-form {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.new-jacket-form form {
  display: flex;
  flex-direction: column;
}

.new-jacket-form input,
select,
button {
  display: block;
  height: 30px;
  width: 180px;
  margin-bottom: 10px;
}

.new-jacket-form button {
  width: 130px;
}

.new-jacket-form .star-input {
  width: 80px;
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
}

.new-jacket-form .right-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-jacket-form #athlete {
  margin-top: 15px;
}

.new-jacket-form .add-new-athlete {
  border: solid black 1px;
  padding: 5px 15px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  background-color: #eeeeee;
  color: black;
}
